/************************
*                       *
*       Colors          *
*                       *
************************/

.primary {color :#441151}
.secondary {color : #BC80F0}
.dark {color: #3D3B30}
.medium-dark {color: #595358}
.light {color: #D1D0D1}
.danger { color: #FA8990}
.warning {color: #FFC57C}
.success {color: #B3F8B3}
.info {color: #9FD5FF}
.bg-primary {background-color :#441151}
.bg-secondary {background-color : #BC80F0}
.bg-dark {background-color: #3D3B30}
.bg-medium-dark {background-color: #595358}
.bg-light {background-color: #D1D0D1}
.bg-danger { background-color: #FA8990}
.bg-warning {background-color: #FFC57C}
.bg-success {background-color: #B3F8B3}
.bg-info {background-color: #9FD5FF}

/************************
*                       *
*        Fonts          *
*                       *
************************/

h1, h2, h3, h4, h5, h6 {font-family: 'Bitter', serif;}
h1 {font-size: 4rem} 
h2 {font-size: 2.5rem}
h3 {font-size: 2rem}
h4 {font-size: 1.5rem}
h5 {font-size: 1rem}
h6 {font-size: .75rem}

p, div
{
    font-family: 'News Cycle', sans-serif;
    font-size: 1.25rem;
}

.lead
{
    font-weight: bold;
}

blockquote
{
    font-style: italic;
}

ul>li
{
    list-style-image: url("img/forknknife.png")
}

ol>li
{
    list-style: upper-roman;
}


/************************
*                       *
*        Layout         *
*                       *
************************/
section
{
    display: flex;
    justify-content: flex-start;
}

section>div
{
    margin: 20px;
}

.sample
{
    height: 50px;
    width: 50px;
    margin: auto;
}

.center
{
    text-align: center;
}